<link
  rel="stylesheet"
  href="https://unpkg.com/xp.css"
>
<!DOCTYPE html>
<html></html>
<head>
    <meta>

    </meta>
</head>
<style type="text/css">
    
    body{
        background-image: url(https://c4.wallpaperflare.com/wallpaper/765/406/516/landscape-4k-bliss-windows-xp-wallpaper-preview.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>
<body>
    <div class="window" style="width: 300px">
        <div class="title-bar">
          <div class="title-bar-text">Window Title</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body">
          <p>This is my first Django Website!</p>
        </div>
    <div class="window" style="width: 300px">
        <div class="title-bar">
        <div class="title-bar-text">Window Title 2</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
        </div>
        <div class="window-body">
        <p>This is my first Django Website!</p>
        </div>
    <div class="window" style="width: 500px">
        <div class="title-bar">
            <div class="title-bar-text">Command Prompt</div>
            <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <pre>Microsoft&#10094;R&#10095; Windows DOS 
        &#10094;C&#10095; Copyright Microsoft Corp 1990-2001.
            <br>C:&#92;WINDOWS&#92;SYSTEM32> My name is Isobel and I am making
this website!
            </pre>
        </div>
        </div>
    </div>
</body>
</html>