<!--href="https://unpkg.com/xp.css@0.2.3/dist/98.css"--use for windows 98-->

<link
  rel="stylesheet"
  href = "https://unpkg.com/xp.css"
>
<!DOCTYPE html>
<html></html>

<style type="text/css">
    
    body{
        background-image: url(https://c4.wallpaperflare.com/wallpaper/765/406/516/landscape-4k-bliss-windows-xp-wallpaper-preview.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>

<body>
    <div class="window" draggable="true"
        style="width: 600px; height:550px; position:fixed; top:30px; left: 50%">
        <div class="title-bar">
            <div class="title-bar-text">Spontaneous Lokum</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <iframe 
                frameborder="0" scrolling="yes" width="580px" height="500px" 
                src="https://spontaneous-lokum-0b4871.netlify.app/docs/week9/d9-s2" 
                style="background-color:transparent; overflow:hidden;" id="text_book">
                </iframe>
        </div>
    </div>
        
    <div class="window" draggable="true"
        style="width: 300px; position:absolute; left: 160px; top: 280px">
        <div class="title-bar">
            <div class="title-bar-text">Object Oriented Design</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <div>
                <iframe 
                frameborder="0" scrolling="no" width="100%" height="190" 
                src="https://mail.google.com/mail/u/0/#chat/space/AAAA5b3wles" 
                style="background-color:transparent; overflow:hidden;" id="ask_form">
                </iframe>
            </div>
        </div>
    </div>

    <div class="window" draggable="true"
        style="width: 500px; position:absolute; top: 50px; left: 110px">
        <div class="title-bar">
            <div class="title-bar-text">Command Prompt</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <pre>Microsoft&#10094;R&#10095; Windows DOS 
        &#10094;C&#10095; Copyright Microsoft Corp 1990-2001.
            <br>C:&#92;WINDOWS&#92;SYSTEM32> 
Name: Isobel
Message: Welcome to my page!
            </pre>
        </div>
    </div>

    <div class="container" draggable="true"
        style="width:70px; text-align:center; font-family: 'Times New Roman', Times, serif;">
        <a href="https://github.com/wizboz/my-first-django">
            <img src="https://static.wikia.nocookie.net/logopedia/images/7/75/My_Computer_XP.svg/revision/latest?cb=20211231153923"
            style="width:30px">
        </a>
        <p>My Computer</p>
    </div>

    <div class="container" draggable="true"
        style="width:70px; text-align:center; font-family: 'Times New Roman', Times, serif">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img src="https://www.clipartmax.com/png/full/92-925325_modernxp-76-trash-full-icon-windows-xp-recycle-bin-icon-png.png"
            style="width:30px">
        </a>
        <p>Recylcing Bin</p>
    </div>
</body>
</html>